@model List<DistributeRoleViewModel>

@{
    ViewData["Title"] = "Distribute Role";
}

<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb col-md-12">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/UserInfo/Index">用户列表</a></li>
            <li class="breadcrumb-item active">分配角色</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6 m-auto">
            <h2>当前用户：@ViewData["UserName"]</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 m-auto">
            <input type="hidden" id="UserId" value="@ViewData["UserId"]" />
            @{
                foreach (var item in Model)
                {
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" checked="@item.Checked" id="@item.Id" data-id="@item.Id" disabled="@(!item.Enabled)" />
                        <label class="form-check-label" for="@item.Id" title="@item.Description">@item.Name</label>
                    </div>
                }
            }
            <button type="button" class="btn btn-primary" id="distributeRole">Submit</button>


        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/distributeRole.js"></script>
}