@model List<IdentityServer4.EntityFramework.Entities.ApiResource>
@using IdentityServer4.EntityFramework.Mappers;

@{
    ViewData["Title"] = "API Resources";
    int index = 0;
}


<link rel="stylesheet" href="~/css/tip.css" />


<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb col-md-12">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">API资源列表</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mr-auto">
                <a class="btn btn-primary" asp-action="CreateOrEdit" asp-route-returnUrl="/ApiResources/Index">Create API Resource</a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">资源名称</th>
                    <th scope="col">显示名称</th>
                    <th scope="col">描述</th>
                    <th scope="col">声明</th>
                    <th scope="col" width="200px">Operate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var client = item.ToModel();
                    <tr>
                        <th scope="row">@(index + 1)</th>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.Raw(string.Join(",", client.UserClaims))</td>
                        <td>
                            <a asp-action="CreateOrEdit" asp-route-id="@item.Id" asp-route-returnUrl="/ApiResources/Index" title="Edit" class="btn btn-warning btn-sm">
                                Edit
                            </a>
                            <button type="button" class="btn btn-danger btn-sm viewAPIResource" title="Delete"
                                    data-id="@item.Id" data-toggle="modal" data-target="#DeleteAPI">
                                Delete
                            </button>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="DeleteAPI" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">警告</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">确定要删除当前这条记录吗</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default border" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="delAPI">删除</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/deleteAPIResource.js"></script>
}